body {
    margin: 0;
    font-family: Segoe UI, sans-serif;
    background: linear-gradient(to right, #667eea, #764ba2);
}

.container {
    width: 60%;
    margin: auto;
    margin-top: 50px;
    text-align: center;
}

h1 {
    color: white;
}

.search-box input {
    width: 60%;
    padding: 12px;
    border-radius: 8px;
    border: none;
}

.search-box button {
    padding: 12px 20px;
    border: none;
    background: #ff9800;
    color: white;
    border-radius: 8px;
    cursor: pointer;
}

.search-box button:hover {
    background: #e68900;
}

.card {
    background: white;
    margin-top: 20px;
    padding: 20px;
    border-radius: 12px;
    text-align: left;
    box-shadow: 0px 4px 12px rgba(0,0,0,0.2);
}

.review {
    font-size: 16px;
}

.sentiment {
    font-size: 18px;
}

.rating {
    color: gold;
    font-size: 18px;
}

.genre {
    color: #2196f3;
}

.badge {
    padding: 5px 10px;
    border-radius: 6px;
    color: white;
}

.positive {
    background: #28a745;
}

.neutral {
    background: #ffc107;
}

.negative {
    background: #dc3545;
}
.suggestion-box {
    background: white;
    border-radius: 6px;
    max-width: 400px;
    margin: auto;
    text-align: left;
}

.suggest-item {
    padding: 8px;
    cursor: pointer;
}

.suggest-item:hover {
    background: #f0f0f0;
}