<!DOCTYPE html>
<html>

<head>
    <title>Movie Review Sentiment Analyzer</title>

    <!-- Link external CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="container">

    <h1>🎬 Movie Review Sentiment Analyzer</h1>

    <!-- Search Form -->
    <form method="POST">
        <div class="search-box">
            <input type="text" id="movieInput" name="movie" placeholder="Enter Movie Name" autocomplete="off">

                <div id="suggestions" class="suggestion-box"></div>
            <button type="submit">Analyze</button>
        </div>
    </form>


    <!-- Accuracy Display -->
    {% if accuracy %}
        <h3 style="color:white;">Model Accuracy: {{ accuracy }}</h3>
    {% endif %}


    <!-- Message if no results -->
    {% if message %}
        <p style="color:white;">{{ message }}</p>
    {% endif %}


    <!-- Review Results -->
    {% for r in results %}

    <div class="card">

        <p class="review">
            <b>Review:</b> {{ r.review }}
        </p>

        <p class="sentiment">
            Sentiment:

            <span class="badge
                {% if r.label == 'positive' or r.label == 'very_positive' %}
                    positive
                {% elif r.label == 'neutral' %}
                    neutral
                {% else %}
                    negative
                {% endif %}
            ">
                {{ r.sentiment }}
            </span>

        </p>

        <p class="rating">
            <b>Rating:</b> {{ r.stars }}
        </p>

        <p class="genre">
            <b>Genre:</b> {{ r.genre }}
        </p>

    </div>

    {% endfor %}


    <!-- Movie Sentiment Graph (Appears After Search Only) -->
    {% if results %}

        <h2 style="text-align:center;">Movie Sentiment Graph</h2>

        <div style="text-align:center;">
            <img src="{{ url_for('static', filename='movie_sentiment_graph.png') }}"
                 style="width:80%; max-width:900px;">
        </div>

    {% endif %}

</div>

</body>
<script>

const input = document.getElementById("movieInput");
const suggestionBox = document.getElementById("suggestions");

input.addEventListener("keyup", async () => {

    const query = input.value;

    if (query.length < 2) {
        suggestionBox.innerHTML = "";
        return;
    }

    const response = await fetch(`/suggest?q=${query}`);
    const suggestions = await response.json();

    suggestionBox.innerHTML = suggestions.map(movie =>
        `<div class="suggest-item">${movie}</div>`
    ).join("");

    document.querySelectorAll(".suggest-item").forEach(item => {

        item.addEventListener("click", () => {

            input.value = item.textContent;
            suggestionBox.innerHTML = "";

        });

    });

});

</script>
</html>